.mainDiv {
  display: flex;
  flex-flow: column;
}
.default {
  padding: 5px;
  border: thin solid #32a1ce;
  font-size: medium;
}
.default:focus {
  outline: none;
}
.highlight {
  border: medium solid #32a1ce;
}
